@font-face {
    font-family: MyCustomFont;
    src: url(/Roboto_Mono/static/RobotoMono-Bold.ttf);
}

body{
    background-color: #00486c;
    font-family: MyCustomFont;
    color: #023047;
    font-size: 1.2rem;
}
.custom-navbar {
    background-color: #023047 !important;
    color: white;
  }

.custom-sidebar{
    background-color: #023047;
    color: white;
}

.nav-link:hover{
    color: white;
}

.nav-item{
    margin-right: 25px;
}
h1{
    color: white;
}
.tekst    {
    padding: 20px;
    font-size: 17px;
    border: solid #023047;
    border-radius: 2em;
    background-color: white;
    box-shadow: 2px 2px 5px 6px #023047;
    margin-top: 40px;
}
col{
    height: 500px;
}

img{
    margin-bottom: 20px;
    border-radius: 360%;
    border: solid 1px #023047;
    box-shadow: 2px 2px 5px 6px #023047;
    margin-top: 10px;
    width: 90%;
    height: auto;
    margin-left: 10px; /* omdat schaduw overliep in col begin */
}

footer {
    background-color: #023047;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
}
.icons{
    filter: brightness(0) invert(1);
    height: 24px;
}
.icons {
    margin-top: 10px;
}

.icons>a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}
footer>p {
    margin: 0;
}

